<div class="hero-container">
  <div class="hero-text">
    <div class="hero-tile">
      <h1 [style.color]="getTextColor()">
        Design with
        <span
          [ngStyle]="
            getGradient()
          "
          >Colors</span
        >
      </h1>
      <h1 [style.color]="getTextColor()">Your <span [ngStyle]="
            getTextStroke()
          " class="border-text">Way</span></h1>
    </div>
    <p [style.color]="getTextColor()">
      Choosing colors for your website has never been this exciting! Take
      control with the Toolbar below and watch your design come alive.
    </p>

    <div [style.background-color]="getPrimaryColor()" class="hero-btn">
      <p [style.color]="getTextColor()">Get Started</p>
    </div>
  </div>

  <div class="hero-blocks">
    <div>Big Blokensy tu beda</div>
  </div>
</div>
