<div class="hero-container">
  <div class="hero-text">
    <div class="hero-tile">
      <h1>
        Design with
        <span
          [ngStyle]="{
            background: gradient,
            '-webkit-background-clip': 'text',
            color: 'transparent'
          }"
          >Colors</span
        >
      </h1>
      <h1>Your <span class="border-text">Way</span></h1>
    </div>
    <p>
      Choosing colors for your website has never been this exciting! Take
      control with the Toolbar below and watch your design come alive.
    </p>

    <div class="hero-btn">
      <p>Get Started</p>
    </div>
  </div>

  <div class="hero-blocks">
    <div>Big Blokensy tu beda</div>
  </div>
</div>
