nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.container {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.logo-container p {
  font-weight: 600;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.docs,
.dropdown-list p {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform-origin: center center; 
}
.docs:hover {
  transform: scale(1.1);
}

.template-container {
  position: relative;
}
.template {
  display: flex;
  border: 1px solid var(--black-20);
  padding: 8px 19.5px;
  border-radius: 5px;
  cursor: pointer;

}

.arrow-down {
  width: 12px;
  height: 12px;
  margin-left: 2px;
}

.dropdown-list {
  position: absolute;
  border: 1px solid var(--black-20);
  border-radius: 5px;
  padding: 4px;
  z-index: 1001;
  background-color: #ffffff;

}

.dropdown-list p {
  padding: 8px 16px;
  text-transform: capitalize;
}
.dropdown-list p:hover {
  background-color: var(--black-05);
  border-radius: 5px;
}


/* Media query */

/* 1450px */
@media screen and (max-width: 1450px) {
  .container{
    width: 1200px
  };
}

/* 1250px */
@media screen and (max-width: 1250px) {
  .container{
    width: 800px
  };
}