<nav>
  <div class="container">
    <div class="logo-container" routerLink="">
      <img src="../../../assets/logo.png" alt="logo" />
      <p>Choose Colors</p>
    </div>
    <div class="menu">
      <div class="docs">
        <p>Docs</p>
      </div>
      <div class="template-container" (mouseenter)="DropDownListTrue()" (mouseleave)="DropDownListFalse()">
        <div class="template">
          <p>Template</p>
          <div>
            <svg
              class="arrow-down"
              height="512px"
              id="Layer_1"
              style="enable-background: new 0 0 512 512"
              version="1.1"
              viewBox="0 0 512 512"
              width="512px"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <polygon points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 " />
            </svg>
          </div>
        </div>

        <!-- Dropdown List -->
        <div class="dropdown-list" *ngIf="isDropDown" >
          <p *ngFor="let link of dropDownListLinks" routerLink="{{link}}">{{link}}</p>
        </div>
      </div>
    </div>
  </div>
</nav>
<hr>
