.container {
  display: flex;
  justify-content: center;
  height: 65px;
}

.colorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 8px;
  gap: 1rem;
  border-radius: 8px;
}
.input-colors {
  display: flex;
  gap: 1rem;
}

.btn-color {
  padding: 0;
  width: 150px;
  height: 50px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
.btn-color::after {
  position: absolute;
  width: auto;
  height: auto;
  color: #ffffff;
  font-size: 19px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.action-btns-container {
  display: flex;
  gap: 1rem;
}

/* Color Inputs Names  */
.text-color::after {
  content: "Text";
}

.background-color::after {
  content: "Background";
}

.accent-color::after {
  content: "Accent";
}
.primary-color::after {
  content: "Primary";
}
.secondary-color::after {
  content: "Secondary";
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}

/* DropDown */
.dropdown-container {
  position: relative;
  background-color: white;
  cursor: pointer;
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 5px;
}

.dropdown-text {
  color: black;
}

.dropdown-menu {
  position: absolute;
  bottom: 140%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  height: 330px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 32px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 16px;
  gap: 1rem;
}

.options {
  padding: 4px 16px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 4px;
}

.options.active {
  background-color: black;
  color: white;
}

/* Copy */
.copy-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.copy-colors {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  height: 330px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 16px;
  gap: 1rem;
}

.copy-colors button {
  font-family: "Poppins", sans-serif;
  padding: 4px;
  font-size: 20px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 12px;
  width: 50%;
  border: none;
  cursor: pointer;
}
.copy-colors button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #000000;
}

.colors-container {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.801);
  height: 330px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 32px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 16px;
  gap: 1rem;
}

.close-btn {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  height: 50px;
  padding: 8px 16px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 24px;
  display: none;
}

/* Media query */
/* 1050px */
@media screen and (max-width: 1050px) {
  .btn-color {
    width: 100px;
    height: 50px;
  }
  .btn-color::after {
    font-size: 14px;
  }
  .dropdown-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  svg,
  img {
    width: 24px;
  }
}

/* 750px */
@media screen and (max-width: 750px) {
  .container {
    height: 130px;
  }
  .colorContainer {
    flex-direction: column;
  }
  .copy-colors{
    width: 90%;
  }
  .copy-container{
    height: 100%;
  }
}

/* 580px */
@media screen and (max-width: 580px) {
  .container {
    height: auto;
  }
  .colorContainer {
    width: 100%;
    flex-direction: column;
  }
  .input-colors {
    flex-direction: column;
  }
  .btn-color {
    width: 300px;
    height: 50px;
  }
  .btn-color::after {
    font-size: 24px;
  }
  .close-btn{
    display: block;
  } 
}
