<div class="container" *ngIf="isToolbar">
  <div class="colorContainer">
    <!-- Color Inputs -->
    <div class="input-colors">
      <input
        type="color"
        class="btn-color text-color"
        [value]="getTextColor()"
        (input)="changeTextColor($event)"
      />
      <input
        type="color"
        class="btn-color background-color"
        [value]="getBackgroundColor()"
        (input)="changeBackgroundColor($event)"
      />
      <input
        type="color"
        class="btn-color primary-color"
        [value]="getPrimaryColor()"
        (input)="changePrimaryColor($event)"
      />
      <input
        type="color"
        class="btn-color secondary-color"
        [value]="getSecondaryColor()"
        (input)="changeSecondaryColor($event)"
      />
      <input
        type="color"
        class="btn-color accent-color"
        [value]="getAccentColor()"
        (input)="changeAccentColor($event)"
      />
    </div>

    <!-- DropDown -->
    <div class="action-btns-container">
      <div class="dropdown-container" (click)="changeDropDown()">
        <div class="dropdown-text">
          <svg
            enable-background="new 0 0 48 48"
            height="32px"
            id="Layer_3"
            version="1.1"
            viewBox="0 0 48 48"
            width="32px"
            xml:space="preserve"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g>
              <rect height="4.709" width="4.708" x="16.218" y="28.708 " />
              <rect height="4.709" width="4.708" x="23.412" y="28.708 " />
              <rect height="4.709" width="4.708" x="30.409" y="28.708 " />
              <rect height="4.709" width="4.708" x="37.406" y="28.708 " />
              <rect height="4.709" width="4.708" x="16.218" y="35.771 " />
              <rect height="4.709" width="4.708" x="23.412" y="35.771 " />
              <rect height="4.709" width="4.708" x="30.409" y="35.771 " />
              <rect height="4.709" width="4.708" x="37.406" y="35.771" />
              <path
                d="M47.302,13.014h-4.533V9.875v-3.14H39.63h-1.962V3.597V0.458h-3.271H29.82h-3.139H10.986H7.847h-4.12H0v9.338v3.139v22.052   h5.101v6.277h5.232v6.278H48V25.49v-3.139v-9.338H47.302z M3.139,3.597h2.092h2.616h3.139h15.695h3.139h3.27h1.308v3.139h-2.615   H16.087h-3.139h-4.12H5.101v3.061H3.139V3.597z M3.139,31.847V12.935h1.961v3.14v3.139v12.634H3.139z M10.333,22.352v3.139v12.635   H8.24V19.213h2.093V22.352z M10.333,16.074H8.24V9.875h2.093h2.616h3.139h15.695h3.139h3.27h1.439v3.139h-2.616H21.319H18.18   h-2.703h-5.144V16.074z M44.861,44.403h-31.39V25.49h31.39V44.403z M44.861,22.352h-31.39v-6.199h3.139h1.569h3.139h15.695h3.139   h3.14h1.569V22.352z"
              />
            </g>
          </svg>
        </div>
        <div class="dropdown-menu" *ngIf="isDropDown">
          <div
            *ngFor="let colorPalette of colorPalettes"
            class="options"
            [class.active]="colorPalette === activeColorPalette"
            (click)="
              changeColor(
                colorPalette.colors[0],
                colorPalette.colors[1],
                colorPalette.colors[2],
                colorPalette.colors[3],
                colorPalette.colors[4],
                colorPalette
              )
            "
          >
            <p>{{ colorPalette.name }}</p>
          </div>
        </div>
      </div>
      <div class="dropdown-container" (click)="changeCopy()">
        <div class="dropdown-text">
          <svg
            width="28"
            height="28"
            viewBox="0 0 28 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24.1956 14.7769H26.0706V24.7712C26.0696 25.5775 25.7489 26.3505 25.1788 26.9206C24.6086 27.4908 23.8357 27.8115 23.0294 27.8125H3.04125C2.23496 27.8115 1.46199 27.4908 0.891858 26.9206C0.321728 26.3505 0.000992352 25.5775 0 24.7712V4.78125C0.00148824 3.97529 0.322442 3.20279 0.892519 2.63307C1.4626 2.06334 2.23529 1.74287 3.04125 1.74187H13.0356V3.61688H3.04125C2.73237 3.6172 2.4362 3.73993 2.21761 3.95816C1.99902 4.1764 1.87583 4.47237 1.875 4.78125V24.7712C1.87533 25.0805 1.99831 25.3769 2.21695 25.5955C2.4356 25.8142 2.73204 25.9372 3.04125 25.9375H23.0294C23.3386 25.9372 23.635 25.8142 23.8537 25.5955C24.0723 25.3769 24.1953 25.0805 24.1956 24.7712V14.7769ZM19.8831 0V1.875H24.5331L13.4619 12.9487L14.7875 14.2744L25.8613 3.20062V7.85063H27.7363V0H19.8831Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
      <div class="close-btn" (click)="closeToolbar()">X</div>
    </div>
  </div>
</div>
<div class="copy-container" *ngIf="isCopy" (click)="changeCopy()">
  <div class="copy-colors" (click)="$event.stopPropagation()">
    <div class="colors-container">
      <p>--text: {{ getTextColor() }};</p>
      <p>--background: {{ getBackgroundColor() }};</p>
      <p>--primary: {{ getPrimaryColor() }};</p>
      <p>--background: {{ getSecondaryColor() }};</p>
      <p>--accent: {{ getAccentColor() }};</p>
    </div>
    <button (click)="copyToClipboard()">Copy</button>
  </div>
</div>

<div class="close-btn" (click)="openToolbar()" *ngIf="!isToolbar">
  Open Toolbar
</div>
