.container {
  display: flex;
  width: 100%;
  margin-top: -100px;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: auto;
  padding-right: 48px;
}
.menu-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 12px 24px;
  opacity: 0.5;
}
.menu-link:hover,
.menu-link.active {
  opacity: 1;
  border-radius: 50px;
}

/* Chart */
.chart-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 48px 32px;
  width: 70%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.dashboard-title h1 {
  font-weight: 600;
}
.dashboard-title p {
  font-size: 1.1rem;
}

/* Chart Tiles */
.small-tiles {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
.tile {
  display: flex;
  align-items: center;
  width: 225px;
  gap: 1rem;
  padding: 16px 32px;
  border-radius: 16px;
}

/* Chart Container */
.chart-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 16px 32px;
  border-radius: 16px;
}
.chart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 12px 32px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}
.rectangles {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.rectangle {
  width: 20px;
  border-radius: 4px;
}

/* User Profile */
.user-profile {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 48px 32px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 25%;
}
.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-container h1 {
  font-size: 24px;
}
.user-container p {
  font-size: 14px;
}
.user-img {
  padding: 44px;
  border: 3px solid;
  border-radius: 50px;
}

/* Reminder */
.reminder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reminder h2 {
  font-weight: 600;
  font-size: 20px;
}
.reminder svg {
  padding: 4px;
  border-radius: 50px;
  cursor: pointer;
}

/* Task contianer */
.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.content-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.reminder-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}
.category{
    padding: 4px;
    border-radius: 50px;
}
.reminder-text h3{
    font-size: 16px;
    font-weight: 600;
}
.reminder-text p{
    font-size: 13px;
}